body {
    padding: 30px 50px;
}

.warning {
    color: #900;
}

.spanLabel {
    padding-bottom: 1em;
    display: block;
    font-size: 0.8em;
}

#items {
    margin: 0;
    padding: 0;
    list-style: none;
}

#items .grid-x {
    padding: 10px 0;
    border-bottom: dashed 1px #aaa;
}

#items .grid-x input {
    margin-bottom: 0;
}

#items .grid-x.done {
    background-color: #eee;
    font-style: italic;
    color: #aaa;
}

.flr {
    float: right;
}

ul{
    list-style: none;
}

body .ng-enter {
    transition:0.5s linear all;
    opacity:0;
}
  
body .ng-enter.ng-enter-active {
    opacity:1;
}

#items .grid-x.ng-enter {
    transition:0.2s linear all;
    opacity:0;
    transform: translateY(30px);
}
  
#items .grid-x.ng-enter.ng-enter-active {
    opacity:1;
    transform: translateY(0);
}

#items .grid-x.ng-leave {
    transition: 0.5s linear all;
    opacity: 1;
    transform: translateX(0);
}
  
#items .grid-x.ng-leave.ng-leave-active {
    opacity: 0;
    transform: translateX(-100%);
}














