<!DOCTYPE html>
<html ng-app='myApp'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Grocery Check-List</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet" media="screen">
    <link href="css/foundation.min.css" rel="stylesheet" media="screen">
    <link href="css/app-screen.css" rel="stylesheet" media="screen">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller='grocListController'>
<div class="grid-container full">
    <div class="cell">
        <h1>My Grocery List</h1>
        <form id="addForm" ng-submit="insert()">
            <div class="grid-x">
                <div class="cell">
                    <span class="spanLabel" ng-show="!minCharactersMet()">You need at least {{ charactersNeeded() }} more characters </span>
                    <span class="spanLabel" ng-show="isCharWithinRange()">Remaining characters: {{ charactersRemaining() }}</span>
                    <span class="spanLabel warning" ng-show="anyCharactersOver()">{{ charactersOver() }} characters too many</span>
                </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="large-8 cell">
                    <input type="text" ng-model="item" ng-trim="false" name="item" placeholder="Item">
                </div>
                <div class="large-2 cell">
                    <input
                        type="text" name="qty" ng-model="qty" ng-trim="false" placeholder="Qty/Weight">
                </div>
                <div class="large-2 cell">
                    <select name="type" ng-model="type">
                        <option ng-repeat="type in types" value="{{ type.id }}">{{ type.name }}</option>
                        </select>
                </div>
            </div>
            <div class="grid-x">
                <div class="cell">
                    <div class="show-for-medium">
                        <div class="flr">
                            <button type="button" class="small button primary"><i class="fa fa-print"></i> Print List</button>
                            <button type="button" class="small button alert" ng-click="remove()"><i class="fa fa-times"></i> Clear Completed</button>
                        </div>
                        <button type="submit" class="small button" ng-disabled="!goodToGo()"><i class="fa fa-plus"></i> Add</button>
                        <button type="submit" class="small button secondary" ng-click="clear()"><i class="fa fa-ban"></i> Clear Entry</button>
                    </div>
                    <div class="show-for-small-only">
                        <ul class="medium button-group">
                            <li>
                                <button type="submit" class="small button" ng-disabled="!goodToGo()"><i class="fa fa-plus"></i></button>
                            </li>
                            <li>
                                <button type="submit" class="small button secondary" ng-click="clear()"><i class="fa fa-ban"></i></button>
                            </li>
                            <li>
                                <button type="button" class="small button primary"><i class="fa fa-print"></i></button>
                            </li>
                            <li>
                                <button type="button" class="small button alert" ng-click="remove()"><i class="fa fa-times"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
        <form id="items">
            <div class="grid-x" ng-repeat="item in items" ng-class="{ 'done' : item.done == 1 }">
                <div class="small-8 cell itemName">
                    <label for="item-{{ item.id }}">
                        <input type="checkbox"
                        name="item-{{ item.id }}"
                        id="item-{{ item.id }}"
                        ng-model="item.done"
                        ng-true-value="1"
                        ng-false-value="0"
                        ng-change="update(item)">{{ item.item }}
                    </label>
                </div>
                <div class="small-2 cell itemQty">{{ item.qty }}</div>
                <div class="small-2 cell itemType">{{ item.type_name }}</div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
